* {
    font-family: sans-serif;
  }
  
.banner-contacto {
<<<<<<< HEAD
    background-image: url(../imagenes/banner_contacto.png);
=======
    background-image: url(../../imagenes/banner_contacto.png);
>>>>>>> 374e974ec9077394bcd59655843da16c2ea983d7
    background-size: cover;
    background-position: center;
    height: 20vh;
    color: white;
    font-size: 100%;
    text-align: center;
    align-items: center;
    padding: 2vh;
} 