* {
    font-family: sans-serif;
  }
  
.banner-contacto {
    background-image: url(../../imagenes/banner_contacto.png);
    background-size: cover;
    background-position: center;
    height: 20vh;
    color: white;
    font-size: 100%;
    text-align: center;
    align-items: center;
    padding: 2vh;
}