$font: sans-serif;

*{
    font-family: $font;
}

.header-text {
    padding: 10vh;

    .h2-header {
        background-color: white;
    }
}
.parent-main {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;

    @media (max-width: 768px) {
          grid-template-columns: 1fr;
      }
    

    .item-1 {
        grid-row-start: 1;
        grid-row-end: 3;

        img {
            max-height: 60vh;
        }
    }

    .item-2 {
        padding: 20px;
        font-size: x-large;
    }

    .icono-servicios {
        float: left;
        width: 25%;
    }

    .item-3 {
        img {
            max-height: 15vh;
        }

        p {
          font-size: large;
          font-weight: bold;
          padding: 10px;
          text-align: center;
          align-items: center;
          justify-content: c;
        }
    }

  }

  @media (max-width: 768px) {
    .iconos-servicios {
      display: flex;
      flex-direction: column;
      align-items: center;

    .icono-servicios {
        margin-right: 0;
        margin-bottom: 10px;
    }
  }

  .item-3 {
    img {
      height: 10vh;
    }
  }
}


.button1 {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid gray;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    background-color:white;
    color: #000000;
    text-align:center;
    transition: all 0.2s;
        }

        a.button1:hover {
            color: white;
            background-color:#000000;
        }

        @media all and (max-width:30em){
            a.button1{
                display:block;
                margin:0.4em auto;
                    }
}

.grid-container {
    display: grid;
    align-items: center;
    padding: 2%;
    margin-bottom: 4%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-template-areas:
      "image1 image2 image3 image4";
      
      img {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 50%;
        height: auto;
      }

    .image1 {
        grid-area: image1;
      }
    
    .image2 {
        grid-area: image2;
      }
    
    .image3 {
        grid-area: image3;
      }
     
    .image4 {
        grid-area: image4;
      }
}

.galery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    padding: 0 200px;
  
    @media screen and (max-width: 768px) {


      .images {
        flex-direction: column;
        padding: 0;
      }
    }
  
    img {
      display: block;
      height: auto;
      max-width: 50%;
      margin: 2%;
    }
}

/* Botones */
button {
    display: inline-block;
    outline: 0;
    border: 0;
    background: #000000;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-size: 18px;
    font-weight: 700;
}

.d-flex {
  @media (max-width: 768px) {
      height: 12vh;
    }
}