/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
  
    .parent-main {
        grid-template-columns: 2fr;
    }
  
    .item-1 img {
        max-width: 100%;
    }
  
    .item-2 {
        font-size: large;
    }
  
    .icono-servicios {
        width: 100%; 
        float: none;
    }
  
  }
  
  /* Media query para tablets */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    /*INDEX*/
  * {
    font-family: sans-serif;
  }
  
  .button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid gray;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: white;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
  }
  
  a.button1:hover {
    color: white;
    background-color: #000000;
  }
  
  @media all and (max-width: 30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
  }
  
  .header-text {
    padding: 10vh;
  }
  
  .h2-header {
    background-color: white;
  }
  
  .parent-main {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }
  
  .item-1 {
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  .item-1 img {
    max-height: 60vh;
  }
  
  .item-2 {
    padding: 20px;
    font-size: x-large;
  }
  
  .icono-servicios {
    float: left;
    width: 25%;
  }
  
  .item-3 img {
    max-height: 5vh;
  }
  
  /*Clientes index*/
  .grid-container {
    display: grid;
    align-items: center;
    padding: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-template-areas: "image1 image2 image3 image4" "image5 image6 image7 image8" "image9 image10 image11 image12" "image13 image14 image15 image16" "image17 . . ."
  }
  
  .image1 {
    grid-area: image1;
  }
  
  .image2 {
    grid-area: image2;
  }
  
  .image3 {
    grid-area: image3;
  }
  
  .image4 {
    grid-area: image4;
  }
  
  .image5 {
    grid-area: image5;
  }
  
  .image6 {
    grid-area: image6;
  }
  
  .image7 {
    grid-area: image7;
  }
  
  .image8 {
    grid-area: image8;
  }
  
  .image9 {
    grid-area: image9;
  }
  
  .image10 {
    grid-area: image10;
  }
  
  .image11 {
    grid-area: image11;
  }
  
  .image12 {
    grid-area: image12;
  }
  
  .image13 {
    grid-area: image13;
  }
  
  .image14 {
    grid-area: image14;
  }
  
  .image15 {
    grid-area: image15;
  }
  
  .image16 {
    grid-area: image16;
  }
  
  .image17 {
    grid-area: image17;
  }
  
  .grid-container img {
    display: flex;
    justify-content: center;
    max-width: 50%;
    height: auto;
  }
  
  /*GALERÍA*/
  
  .galery img {
    display: block;
    height: auto;
    max-width: 50%;
    margin: 20px;
  }
  
  .galery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    padding: 0 200px;
  }
  
  @media screen and (max-width: 768px) {
    .images {
        flex-direction: column;
        padding: 0;
    }
  }
  
  
  
  /* Media query para desktop */
  @media screen and (min-width: 1025px) {
      .parent-main {
          grid-template-columns: repeat(2, 1fr);
      }
  
      .item-1 img {
          max-height: 60vh;
      }
  
      .item-2 {
          font-size: x-large;
      }
  
      .icono-servicios {
          width: 25%;
      }
  }
  }
  